/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* varibles css */
:root {
  /* COLORS : HSL(hue, saturation, lightness) */
  --first-color: hsl(187, 89%, 47%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --container-color: #fff;
  
  /* TYPOGRAPHY AND FONT : 1rem = 16 px */
  --body-font: 'Rubik', sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Height */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* SHADOW */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  /* BORDER */
  --border-radius: 20px;
}


/* Responsitive */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

@media screen and (max-width: 512px) {
  :root {
    --h1-font-size: 1.25rem;
    --h2-font-size: 1rem;
    --h3-font-size: 0.95rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.3rem;
  }
}

/* BASE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}

h1, 
h2, 
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  /*text-align: center;*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  height: 47px;
  width: 95px;
  border: 1px solid #1669F2;
  background-color: #1669F2;
  color:#f2f2f2;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

button:hover{
  background-color: transparent;
  color: #1669F2;
}

img { 
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--first-color);
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 55px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: var(--container-color);
    padding: 1rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.sidebar a:hover {
    color: var(--first-color);
    background-color: var(--container-color);
}
.header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #fff; 
  z-index: 2;
  padding-left: 1rem;
}

main{
  min-height: 100%;
  padding: 6rem 1rem 2rem 14rem;
  color: #201f2b;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto;
  gap: 1rem;

}

.footer {
  padding: 20px;
  margin-top: 1rem;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
        overflow: auto;
        white-space: nowrap;
    }
}
