table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    text-align: center;
    padding: 0.5rem;
}
th {
    border-bottom: 1px solid black;
}
tr {
    background-color: rgba( 255,255,255, 0.8);
}

tr:hover {
    background-color: rgba( 255,255,255, 0.6);
}

ul {
    list-style: none;
}

li {
background-color:skyblue;
padding: 1rem;
font-size: 1rem;
transition: all 0.2s ease-in-out;
}

li:hover {
background-color: rgba(135, 207, 235, 0.8);
}

li a{
    color: white;
    font-size: 1rem;
}

.litop{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.libottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.acceuil{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    gap: 1rem;
}

.acceuil{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
    "frame1 frame1"
    "frame2 frame3";
}

.frame1 {
    grid-area: frame1;
}

.frame1 img{
    float: right;
    width: 11.20rem;
    height: auto;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 5px;
}

.frame2 {
    grid-area: frame2;
    background-color: skyblue;
    padding: 1rem;
    border-radius: 5px;
}

.frame3 {
    grid-area: frame3;
    background-color: skyblue;
    padding: 1rem;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    .acceuil{
      display: grid;
      grid-template-columns: 1fr; 
      grid-template-areas: 
      "frame1"
      "frame2"
      "frame3";
    } 
  }