/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* varibles css */
:root {
  /* COLORS : HSL(hue, saturation, lightness) */
  --first-color: skyblue;
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --container-color: #fff;
  
  /* TYPOGRAPHY AND FONT : 1rem = 16 px */
  --body-font: 'Rubik', sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Height */
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* SHADOW */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  /* BORDER */
  --border-radius: 20px;
}


/* Responsitive */
@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

@media screen and (max-width: 512px) {
  :root {
    --h1-font-size: 1.25rem;
    --h2-font-size: 1rem;
    --h3-font-size: 0.95rem;
    --normal-font-size: 0.9rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.3rem;
  }
}

/* BASE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}

h1, 
h2, 
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}


a {
  text-decoration: none;
  font-size: 1rem;
  /*text-align: center;*/
}

main{
  margin-left: 14rem;
  margin-top: 6rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  main{
    margin-left: 1rem;
    margin-top: 8rem;
  }
}